<!DOCTYPE html>
<html>
    <head>
        <title>Blackwhiz</title>
        <link rel="shortcut icon" type="image/png" href="images/Logo/blogo_transparent.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>        
        <script src="js/index.js"></script>
        <script src="js/equipment.js"></script>
        <script src="controllers/MainController.js"></script>
        <script src="services/artists.js"></script>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body ng-app="Blackwhiz">

        <!------------------------------------------------------------------------------------------------------>

        <!--       Start of Responsive Navigation Bar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand" href="#">
                        <img style="display: inline-block" src="images/Logo/blogo_transparent.png" width="40" height="40" alt="">
                        <p style="display: inline-block">Blackwhiz</p>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">

                    <form class="navbar-form navbar-left">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="&#xF002;  Search">
                        </div>
                    </form>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> &nbsp;&nbsp;Login</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Sign Up</a></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Topics 
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Video</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Food & Drink</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Culture & World</a></li>
                                <li><a href="#">Forum</a></li>
                                <li><a href="#">Submit</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav" id="category">
                        <li class="dropdown" id="nav_menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="nav_menu_main_title">EQUIPMENT
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" id="dropdown_menu">
                                <li class="nav_menu_li">
                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                GUITARS
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Electric Guitars</a></li>
                                                <li><a href="#">Acoustic Guitars</a></li>
                                                <li><a href="#">Acoustric-electric Guitars</a></li>
                                                <li><a href="#">Classical & Nylon-string Guitars</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                DRUMS & PERCUSSION
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Drum Sets & Set Components</a></li>
                                                <li><a href="#">Electronic Drums</a></li>
                                                <li><a href="#">Hand Percussion</a></li>
                                                <li><a href="#">Hand Drums</a></li>
                                                <li><a href="#">Concert Percussion</a></li>
                                                <li><a href="#">Marching Percussion</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                LIVE SOUND & STAGE
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Monitors, Speakers & Subwoofer</a></li>
                                                <li><a href="#">Power Amplifiers</a></li>
                                                <li><a href="#">Stage & Studio Cables</a></li>
                                                <li><a href="#">PA System</a></li>
                                                <li><a href="#">Powered Mixers</a></li>
                                                <li><a href="#">Lighting Equipment & Accessories</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="nav_menu_li">
                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                DJ & ELECTRONIC MUSIC
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#">DJ Equipment</a></li>
                                                <li><a href="#">Electronic Music</a></li>
                                                <li><a href="#">Karaoke Equipment</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                BASS GUITARS
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Electric Basses</a></li>
                                                <li><a href="#">Acoustic & Acoustic-Electric Basses</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                RECORDING
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Microphones & Accessories</a></li>
                                                <li><a href="#">Signal Processors</a></li>
                                                <li><a href="#">Studio Monitors</a></li>
                                                <li><a href="#">Audio Interfaces</a></li>
                                                <li><a href="#">Mixers & Accessories</a></li>
                                                <li><a href="#">Multitrack Recorders</a></li>
                                                <li><a href="#">Studio Environment</a></li>
                                                <li><a href="#">Portable Recorders</a></li>
                                                <li><a href="#">Power Conditioners</a></li>
                                                <li><a href="#">Tape Decks</a></li>
                                                <li><a href="#">Mastering Recorders</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="nav_menu_li">
                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                VST PLUGINS
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Effects Plugins</a></li>
                                                <li><a href="#">Instrument Plugins (VSTi & AU)</a></li>
                                                <li><a href="#">DAW</a></li>
                                                <li><a href="#">Studio Tools Plugins</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                AMPLIFIERS
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Effects</a></li>
                                                <li><a href="#">Amplifiers</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                KEYBOARD, <br />SYNTHESIZERS & MIDI
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Electronic Keyboards</a></li>
                                                <li><a href="#">Modular Synthesizers</a></li>
                                                <li><a href="#">MIDI</a></li>
                                                <li><a href="#">Digital Pianos</a></li>
                                                <li><a href="#">Organs</a></li>
                                                <li><a href="#">Pianos</a></li>
                                                <li><a href="#">Accordions</a></li>
                                                <li><a href="#">Harpsichords</a></li>
                                                <li><a href="#">Player Pianos</a></li>
                                                <li><a href="#">World Instruments</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="nav_menu_li">
                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                BAND & ORCHESTRA
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Orchestral Strings</a></li>
                                                <li><a href="#">Woodwinds</a></li>
                                                <li><a href="#">Brass</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                WOLRD INSTRUMENTS
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Stringed Instruments</a></li>
                                                <li><a href="#">Wind Instruments</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                HEADPHONES
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Headphones</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                INSTRUMENT ACCESSORIES
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Guitar & Bass Accessories</a></li>
                                                <li><a href="#">Drum & Percussion Accessories</a></li>
                                                <li><a href="#">General Accessories</a></li>
                                                <li><a href="#">Amplifier Accessories</a></li>
                                                <li><a href="#">Keyboard Accessories</a></li>
                                                <li><a href="#">Orchestral Strings Accessories</a></li>
                                                <li><a href="#">Folk & World Intrument Accessories</a></li>
                                                <li><a href="#">Woodwind Accessories</a></li>
                                                <li><a href="#">Brass Accessories</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown" id="nav_menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="nav_menu_main_title">MUSIC
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" id="dropdown_menu" style="width: 769px;">
                                <li class="nav_menu_li"  style="width: 200px; margin-right: 0;">
                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                SUBGENRES
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Alternative Hip Hop</a></li>
                                                <li><a href="#">Baltimore Club</a></li>
                                                <li><a href="#">Bounce</a></li>
                                                <li><a href="#">Brick City Club</a></li>
                                                <li><a href="#">Chicano Rap</a></li>
                                                <li><a href="#">Christian Hip Hop</a></li>
                                                <li><a href="#">Conscious Hip Hop</a></li>
                                                <li><a href="#">Experimental Hip Hop</a></li>
                                                <li><a href="#">Freestyle Rap</a></li>
                                                <li><a href="#">Gangsta Rap</a></li>
                                                <li><a href="#">Horrorcore</a></li>
                                                <li><a href="#">Instrumental Hip Hop</a></li>
                                                <li><a href="#">Jerkin'</a></li>
                                                <li><a href="#">Mafioso Rap</a></li>
                                                <li><a href="#">Miami Bass</a></li>
                                                <li><a href="#">Native American Hip Hop</a></li>
                                                <li><a href="#">Nerdcore</a></li>
                                                <li><a href="#">Political Hip Hop</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="nav_menu_li" style="width: 290px;">
                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title" style="text-align: center;">
                                                FUSION GENRES
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div" style="float:left; width: 128px; border: none; text-align: right; margin: 0;">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Australian Hip Hop</a></li>
                                                <li><a href="#">Country Rap</a></li>
                                                <li><a href="#">Crunk</a></li>
                                                <li><a href="#">Cumbia Rap</a></li>
                                                <li><a href="#">Ghettotech</a></li>
                                                <li><a href="#">Glitch Hop</a></li>
                                                <li><a href="#">Grebo</a></li>
                                                <li><a href="#">Hip Hip Soul</a></li>
                                                <li><a href="#">Hip House</a></li>
                                                <li><a href="#">Hiplife</a></li>
                                                <li><a href="#">Hyphy</a></li>
                                                <li><a href="#">Industrial Hip Hop</a></li>
                                                <li><a href="#">Jazz Rap</a></li>
                                            </ul>
                                        </div>
                                        <div class="nav_menu_ul_div" style="float:left; width: 150px">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Low Bap</a></li>
                                                <li><a href="#">Merenrap</a></li>
                                                <li><a href="#">Neo Soul</a></li>
                                                <li><a href="#">New Jack Swing</a></li>
                                                <li><a href="#">Nu Metal</a></li>
                                                <li><a href="#">Nyuorican Rap</a></li>
                                                <li><a href="#">Psychedelic Hip Hop</a></li>
                                                <li><a href="#">Ragga</a></li>
                                                <li><a href="#">Rap Metal</a></li>
                                                <li><a href="#">Rap Opera</a></li>
                                                <li><a href="#">Rap Rock</a></li>
                                                <li><a href="#">Reggaeton</a></li>
                                                <li><a href="#">Wonky</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="nav_menu_li" style="width: 170px">
                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                REGIONAL SCENES
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Atlanta Hip Hop</a></li>
                                                <li><a href="#">British Hip Hop</a></li>
                                                <li><a href="#">Canadian Hip Hop</a></li>
                                                <li><a href="#">Desi Hip Hop</a></li>
                                                <li><a href="#">East Coast Hip Hop</a></li>
                                                <li><a href="#">French Hip Hop</a></li>
                                                <li><a href="#">Japenese Hip Hop</a></li>
                                                <li><a href="#">Kenyan Hip Hop</a></li>
                                                <li><a href="#">Korean Hip Hop</a></li>
                                                <li><a href="#">Midwest Hip Hop</a></li>
                                                <li><a href="#">Romanian Hip Hop</a></li>
                                                <li><a href="#">Southern Hip Hop</a></li>
                                                <li><a href="#">Turkish Hip Hop</a></li>
                                                <li><a href="#">Weat Coast Hip Hop</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown" id="nav_menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="nav_menu_main_title">FASHION
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" id="dropdown_menu">
                                <li class="nav_menu_li"  style="width: 200px; margin-right: 0;">
                                    <div class="nav_menu_li_div">
                                        <div class="nav_menu_title_div">
                                            <p class="nav_menu_title">
                                                Hats
                                            </p>
                                        </div>
                                        <div class="nav_menu_ul_div">
                                            <ul class="list-unstyled">
                                                <li><a href="#"></a></li>
                                                <li><a href="#"></a></li>
                                                <li><a href="#"></a></li>
                                                <li><a href="#"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--        End of Navigation Bar-->

        <!---------------------------------------------------------------------------------------------------->


        <!--        Start of Main -->
        <div class="main" ng-controller="MainController">
            <div class="container-fluid" style="margin: 70px 1%;">
                <div class="menu row">
                    <div class="menu-category list-group" ng-repeat="artist in artists" on-finish-render="ngRepeatFinished">
                        <div href="#" class="list-group-item" ng-click="hello($index)">
                            <img id="artist_image" ng-src="{{ artist.image }}">
                            <div class="artist_info">
                                <p class="artist_name" id="artist_name" ng-style="getName()">{{ artist.name }}</p>
                                <p class="artist_hidden" id="artists_role">{{ artist.role }}</p>
                                <p class="artist_hidden" id="artist_member">{{ artist.member }}</p>
                                <p class="artist_hidden" id="artist_genre">{{ artist.genres }}</p>
                                <p class="artist_hidden" id="artist_facebook"> {{ artist.facebook }}</p>
                                <p class="artist_hidden" id="artist_youtube"> {{ artist.youtube }}</p>
                                <p class="artist_hidden" id="artist_website"> {{ artist.website }}</p>
                                <p class="artist_hidden" id="artist_youtube_song"> {{ artist.youtube_song }}</p>
                                <p class="artist_hidden" id="artist_soundcloud"> {{ artist.soundcloud }}</p>
                                <div class="artist_description_div">
                                    <p id="artist_description" ng-style="getHeight('.artist_description_div')">{{ artist.description }} </p>
                                </div>
                                <a class="artist_equip_anchor"><button class="show_equip" ng-click="hello2($index)">Go to see Equipments</button></a>
                                <button type="button" class="show_more" ng-style="getButton('.show_more')" >Show More</button>
                            </div>
                            <div class="artist_pin_thumb">
                                <i class="icon-pushpin"></i><span class="icon_pin_num">0</span>
                                <br />
                                <i class="icon-thumbs-up-alt"></i><span class="icon_thumb_num">0</span>
                                <br />
                            </div>
                        </div>    <!-- End of list-group-item -->
                    </div>    <!--End of menu-category list-group-->
                </div>    <!--End of menu row-->

                <div id="preview_artist" class="preview_artist">
                    <div class="preview_sub_div">
                        <span class="preview_close_btn">&times;</span>
                        <div class="preview_info_sub_left">
                            <img class="preview_artists_img" id="preview_artists_img">
                            <div class="preview_artist_info" id="preview_artist_name"></div>
                            <div class="preview_sns" id="preview_sns">
                                <a class="preview_artist_facebook"></a>
                                <a class="preview_artist_youtube"></a>
                                <a class="preview_artist_website"></a>
                                <a class="preview_artist_youtube_song"></a>
                                <a class="preview_artist_soundcloud"></a>
                            </div>
                            <div class="preview_artist_equip_btn_div">
                                <a href="equipment.html" class="artist_equip_anchor"><button class="artist_equip_btn">Go to see Equipments</button></a>
                            </div>
                        </div>
                        <div class="preview_info_sub_right">
                            <div class="preview_artist_info" id="preview_artist_role">
                            </div>
                            <div class="preview_artist_info" id="preview_artist_member">
                            </div>
                            <div class="preview_artist_info" id="preview_artist_genre">
                            </div>
                            <br />
                            <div class="preview_artist_info" id="preview_artist_description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>    <!--End of container-fluid-->
        </div>    <!--End of Main-->
    </body>
</html>
