@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

* {
    font-family: 'Titillium Web', sans-serif;
}

/*----------------Customized Scroll bar--------------*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}
/*---------------------------------------------------*/


/*--------------------Navigation Bar-----------------*/
.navbar-brand {
    padding: 5px 15px;
    width: 180px;
}

.navbar-brand p {
    font-size: 25px;
    vertical-align: bottom;
    color: white;
    transition: 1s;
}

.navbar-brand p:hover {
    color: red;
}

.navbar-brand img:hover {
    filter: contrast(20%);
}

.navbar-form  {
    width: 70%;
}

.input-group {
    width: 100%;
}

.form-control {
    font-family: FontAwesome;
    font-size: 18px;
}

.navbar-form input {
    background-color: #454647;
    color: #e0e0e0;
    border: none;
    outline: none;
}

.collapse {
    font-size: 17px;
}

/*---------------------------------------------------*/

/*-------------------Artists Info--------------------*/
.menu {
    column-width: 350px;
    -moz-column-width: 350px;
    -webkit-column-width: 350px;
    column-gap: 10px; 
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    margin: 0 3px;
}

.menu-category {
    display: inline-block;
    padding: 0px;
    width: 100%; 
    border-radius: 15px;
}

.list-group {
    margin-bottom: 30px;
}

.list-group-item {
    border: none;
    padding: 10px;
    border-radius: 15px;
}

.list-group-item:hover {
    background-color: #efefef;
}

#artist_image {
    width: 100%;
    border-radius: 6px;
}

.list-group-item:hover #artist_image {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

.artist_info {
    width: 77%;
    margin: 5px 0 0 5px;
    display: inline-block;
}

#artist_name {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

.artist_description_div {
    overflow: hidden;
}

.show_more, .artist_equip_btn {
    padding: 5px 10px;
    border: none;
    outline:none;
    border-radius: 8px;
    transition: 0.5s;
    display: none;
    margin: 10px 5px;
}

.show_more:hover, .artist_equip_btn:hover {
    background-color: #ff4c4c;
    color: white;
}


.artist_pin_thumb {
    width: 20%;
    display: inline-block;
    float: right;
    vertical-align: top;
    text-align: right;
    font-size: 15px;
    margin: 10px 0 0 5px;
}

.artist_pin_thumb i {
    transition: 0.3s;
    margin-right: 5px;
}

.icon-pushpin:hover, .icon-thumbs-up-alt:hover {
    font-size: 20px;
    color: #ff4c4c;
}

.artist_hidden {
    display: none;
}

/*---------------------------------------------------*/

/*------------------Artists Preview------------------*/
.preview_artist {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 51px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.preview_sub_div {
    display: block; 
    z-index: 1;
    margin: auto;
    left: 0;
    top: 0;
    width: 50%;
    height: 90%;
    padding: 50px;
    overflow: auto;
    border-radius: 12px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}


/*add more image effect*/
.preview_artist_info {
    margin: auto;
    display: block;
    width: 60%;
    text-align: left;
    color: #ffffff;    
}

.preview_info_sub_left {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.preview_artists_img {
    width: 100%;
    border-radius: 12px;

}

.preview_artist_equip_btn_div {
    margin-top: 20px;
}

.artist_equip_btn {
    display: block;
    text-align: center;
    margin: auto;
    background-color: #848484;
    color: #ffffff;
}

.preview_artists_img, .preview_artist_info {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 1s;
    animation-name: zoom;
    animation-duration: 1s;
}

.preview_artists_img {
    box-shadow: 5px 5px 10px #4c4c4c;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.preview_info_sub_right {
    display: inline-block;
    width: 59%;
    padding: 0;
}

.preview_close_btn {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.preview_close_btn:hover,
.preview_close_btn:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#preview_artist_name {
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
}

#preview_artist_role, #preview_artist_member, #preview_artist_genre, #preview_artist_description{
    width: 100%;
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}



@media only screen and (max-width: 767px){
    .preview_artists_img {
        width: 100%;
    }

    .preview_artist, .preview_sub_div, .preview_info_sub_left, .preview_info_sub_right{
        width: 100%;
    }

    .preview_info_sub_right {
        margin-top: 20px;
    }
}

/*---------------------------------------------------*/

@media (max-width: 1489px) and (min-width: 913px)
{
    .navbar-form  {
        width: 50%;
    }

    .preview_sub_div, .preview_info_sub_left, .preview_info_sub_right{
        width: 70%;
    }

    .preview_info_sub_right {
        margin-top: 20px;
    }
}

@media (max-width: 912px) and (min-width: 769px)
{
    .navbar-form  {
        width: 40%;
    }

    .preview_sub_div, .preview_info_sub_left, .preview_info_sub_right{
        width: 80%;
    }

    .preview_info_sub_right {
        margin-top: 20px;
    }
}


@media (max-width: 768px) {

    .navbar-form {
        width: 100%;
    }

    .navbar-form {
        width: auto;
    }

    .input-group, .input-group .form-control {
        width: 100%;
    }

    .input-group .form-control {
        width: 100%;
    }

    .list-group-item {
        background-color: #efefef;
    }

    .preview_sub_div, .preview_info_sub_left, .preview_info_sub_right{
        width: 100%;
    }

    .preview_info_sub_right {
        margin-top: 20px;
    }

    #preview_artist_role, #preview_artist_member, #preview_artist_genre, #preview_artist_description{
        font-size: 15px;
    }
}