@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

* {
    font-family: 'Titillium Web', sans-serif;
}

.navbar-brand {
    padding: 5px 15px;
    width: 180px;
}

.navbar-brand p {
    font-size: 25px;
    vertical-align: bottom;
    color: white;
    transition: 1s;
}

.navbar-brand p:hover {
    color: red;
}

.navbar-brand img:hover {
    filter: contrast(20%);
}

.navbar-form  {
    width: 70%;
}

.input-group {
    width: 100%;
}

.form-control {
    font-family: FontAwesome;
    font-size: 18px;
}

.navbar-form input {
    background-color: #454647;
    color: #e0e0e0;
    border: none;
    outline: none;
}

.collapse {
    font-size: 17px;
}

.menu {
    column-width: 350px;
    -moz-column-width: 350px;
    -webkit-column-width: 350px;
    column-gap: 10px; 
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    margin: 0 3px;
}

.menu-category {
    display: inline-block;
    padding: 0px;
    width: 100%; 
    border-radius: 15px;
}

.list-group {
    margin-bottom: 30px;
}

.list-group-item {
    border: none;
    padding: 10px;
    border-radius: 15px;
}

.list-group-item:hover {
    background-color: #efefef;
}

#artist_image {
    width: 100%;
    border-radius: 6px;
}

.artist_info {
    width: 77%;
    margin: 5px 0 0 5px;
    display: inline-block;
}

#artist_name {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

.artist_description_div {
    overflow: hidden;
}

.show_more {
    padding: 5px 10px;
    border: none;
    outline:none;
    border-radius: 8px;
    transition: 0.5s;
    display: none;
    margin: 10px 5px;
}

.show_more:hover {
    background-color: #ff4c4c;
    color: white;
}


.artist_pin_thumb {
    width: 20%;
    display: inline-block;
    float: right;
    vertical-align: top;
    text-align: right;
    font-size: 15px;
    margin: 10px 0 0 5px;
}

.artist_pin_thumb i {
    transition: 0.3s;
    margin-right: 5px;
}

.icon-pushpin:hover, .icon-thumbs-up-alt:hover {
    font-size: 20px;
    color: #ff4c4c;
}

.artist_hidden {
    display: none;
}

.preview_artist {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 51px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.preview_sub_div {
    display: block; 
    z-index: 1;
    margin: auto;
    left: 0;
    top: 0;
    width: 50%;
    padding: 50px;
    overflow: auto;
    border-radius: 12px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}


/*add more image effect*/
.preview_artist_info {
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;    
}

.preview_artists_img {
    width: 70%;
    border-radius: 12px;
}

.preview_artists_img, .preview_artist_info {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.preview_close_btn {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.preview_close_btn:hover,
.preview_close_btn:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 767px){
    .preview_artists_img {
        width: 100%;
    }
}








@media (max-width: 1472px) and (min-width: 896px)
{
    .navbar-form  {
        width: 50%;
    }
}

@media (max-width: 895px) and (min-width: 767px)
{
    .navbar-form  {
        width: 40%;
    }
}


@media (max-width: 767px) {

    .navbar-form {
        width: 100%;
    }

    .navbar-form {
        width: auto;
    }

    .input-group, .input-group .form-control {
        width: 100%;
    }

    .input-group .form-control {
        width: 100%;
    }
    
    .list-group-item {
        background-color: #efefef;
    }
}